<div class="menu">
    <div class="body">
        <div class="windows">
            <div class="window">
                <img src="/assets/img/list.png" [routerLink]="['/', 'screens']">
            </div>
            <div class="window">
                <img src="/assets/img/layers.png">
            </div>
            <div class="window">
                <img src="/assets/img/history.png">
            </div>
            <div class="window window-final">
                <img src="/assets/img/gear.png">
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>