<div class="menu">
    <div class="body">
        <div class="windows">
            <div class="window" [routerLink]="['/screens']" 
            routerLinkActive="window-active"
            (click)="handleClickItem(0)">
                <img src="/assets/img/list.png">
            </div>
            <div class="window" [routerLink]="['/projects']" 
            routerLinkActive="window-active"
            (click)="handleClickItem(1)">
                <img src="/assets/img/layers.png">
            </div>
            <div class="window" [routerLink]="['/history']" 
            routerLinkActive="window-active"
            (click)="handleClickItem(2)">
                <img src="/assets/img/history.png">
            </div>
            <div class="window window-final" [routerLink]="['/config']" 
            routerLinkActive="window-active"
            (click)="handleClickItem(3)">
                <img src="/assets/img/gear.png">
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>